nvflare==2.0.5
pandas==1.4.1
torch>=1.10,<1.11
torchvision>=0.11.1,<0.12
# Limit the version of protobuf, since nvflare doesn't do this but versions 3.21+ have breaking changes.
# See: https://github.com/NVIDIA/NVFlare/issues/608
protobuf<3.21
