[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Jupyter Notebook
Exec=sh -c '/venv/bin/jupyter-notebook --IdentityProvider.token="" --IdentityProvider.password="" --ServerApp.open_browser=true >"$HOME/jupyter-notebook.log" 2>&1'
StartupNotify=false
Terminal=false
Hidden=false
Icon=jupyter-notebook
