chex==0.1.90
deepchem==2.8.0
dm-haiku==0.0.16
jax==0.4.28
jaxlib==0.4.28
lightning==2.6.0
numpy==1.26.4
nvflare==2.6.3
optax==0.2.5
pandas==2.3.3
pydantic==2.12.5
scikit-learn==1.8.0
tensorboard==2.20.0
tensorflow==2.20.0
torch==2.2.0
torch-geometric==2.7.0
torchdata==0.7.1
torchmetrics==1.8.2
transformers==4.57.3